<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	</head>
	
	<div class="panel panel-default" ng-controller='loginCtrl' ng-init='initUser()'>

	<body >
		  
		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="jumbotron" ng-controller = "mainctrl">
			<h1>Welcome to Taggr!</h1>
			<h2>Please log in to continue</h2>
			<br></br>

			
			<form>
				Username<br>
				<input type="text" name="username" input id="username" ng-model="user.username">
				<br>
				Password<br>
				<input type="password" name="password" input id="password" ng-model="user.password" onkeydown="if (event.keyCode == 13) document.getElementById('loginbutton').click()">
			</form>
			
			
			<br></br>
  
 
			<p>
			  <a class="btn btn-lg btn-primary" href="/#/login" role="button" id="loginbutton" ng-click="login()">Log In</a>
			  <a class="btn btn-lg btn-primary" href="#/login" role="button">Sign Up</a>
			  <a class="btn btn-lg btn-primary" href="#/login" role="button">Help</a>
			</p>
		  </div>
		  
		  
		  <hr>
		
		
		
	

	</body>
	</div>
</html>
