

<div class="jumbotron" >
	<h1>Finding the right pictures has never been easier</h1>
	<br></br>
	<p>
		Upload your pictures and add custom tags to them. Search through your pictures using your 
		own tags, your way. That vacation photo you took with the llama statue? Tag it with 
		"statue" and "llama" and never worry about losing it when you want to show your family 
		and friends! Quick and personal search. Simply magic.
	</p>
	<br></br>
			
	<p>
	  <a class="btn btn-lg btn-primary" role="button" ng-click="toLogin()">Log In</a>
	  <a class="btn btn-lg btn-primary" href="/#/login" role="button">Sign Up</a>
	</p>
</div>