<div class="panel panel-default"  ng-controller='addtagCtrl' ng-init='getTags(); getPhotos(); createTag()'>
	<!-- Default panel contents -->
	<div class="panel-heading"> 
		
<td align="left"><h2><a href="/#/folders">{{user}}'s Photos</a> -> Untagged Photos</h2></td>

			<table style="width:100%">
				<td style="width:70%">
				<div>
					<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat = 'result in results'>
					<input type="checkbox" name="{{result.name}}" value="{{result.name}}" id="{{result.location}}" ng-model="selectedPhoto.name">
					<!-- What does ng-model="selectedPhoto.name" do? -->
					<a class="thumbnail" href="#">
					
					<img class="img-responsive" ng-src="{{result.location}}" alt="">
					</a>
					</div>
			</div>
				</td>
			
			<td style="width:30%" valign="top">
				
				<h2>Add Tags</h2>
				<hr>
				<form action="">
					<div>
					<h3 class="panel-heading">Active Lists</h3>
					<div ng-repeat = 'tagResult in tagLists'>
					<input type="checkbox" name="{{tagResult.name}}" value="{{tagResult.name}}" id="{{tagResult.name}}">
					<span>{{tagResult.name}}</span>
					</div>
					<br></br>
					<input type="text" name="newTag" ng-model="tag.name" placeholder="New tag name" ></p>
					<span><input type = "button" ng-click= 'writeTag()' value = "Add a new tag"</span>
					<!--<span><input type = "button" ng-click= 'updateTag()' value = "Add tags to photos"</span>-->
					</div>
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<a class="btn btn-lg btn-primary" ng-click='updateTag()' href="#/folders" role="button">Done</a>
				
			</td>
		</table>
			
	<!--<img class="img-responsive" src="{{result.location}}" alt="" style="width:400px;height:300px" ng-repeat='result in results'></img>-->
</div>